header {
    background-color: #147680;
    padding: 20px 0;
    text-align: center;
}

.logo {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.logo img {
    width: 100%;
    height: auto;
    display: block;
}

nav {
    background-color: #1993a0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 14px 0;
    display: inline-block;
}

nav a:hover {
    background-color: #066a75;
}